/*Style rules for header*/
header {
    top: 0;
    background-color: white;
    height: 10px;
}

header img {
    margin: 0 auto;
}

/*Style rules for navigation*/
nav {
    padding: 0;
    margin: 0;
    font-family: DM-sans;
    text-align: center;
}

/*Navigation container*/
ul {
    list-style: none;
    background: #014d22;
}

/*Main navigation content*/
ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

/*Activities  list*/
.dropdown li {
    display: block;
}

.dropdown {
    width: 100%;
    background: #014d22;
    position: absolute;
    z-index: 999;
    display: none;
}

.navlogo {
    margin-top: 20%;
}

/* Hover for nav items*/
ul li a:hover {
    background: #fff;
    color: #000;
}

/*hover for activities and drop down option*/
ul li:hover ul.dropdown {
    display: block;
}

/*dropdown for local dinning*/
.dropdown2 {
    width: 100%;
    background: #013220;
    position: absolute;
    z-index: 999;
    display: none;
}

/*hover for local dinning*/
ul li:hover ul.dropdown2 {
    display: block;
}

/*Style rules for home page content*/
.bg-static {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 30%;
    height: auto;
}

.info {
    position: relative;
    width: 1000px;
    margin: 100px auto;
    z-index: 1;
    background: #fff;
    padding: 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    font-family: 'DM Sans', sans-serif;
}

.info h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

.info h3 {
    text-align: left;
}

.info p {
    font-size: 1.2em;
    line-height: 1.6em;
}

#info-ul ul {
    background: #fff;
}

#info-ul ul li {
    display: block;
    font-size: 1.2em;
    line-height: 1.6em;
}

.info-icons h2 {
    text-align: center;
}

.timeline {
    font-family: 'DM Sans', sans-serif;
}

.timeline h2 {
    text-align: center;
}

.timeline-grid {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.timeline-grid h3 {
    text-align: unset;
}

div.timeline-odd,
div.timeline-even {
    width: 70%;
    padding: 5px 80px;
}

div.timeline-odd {
    align-self: flex-start;
}

div.timeline-even {
    align-self: flex-end;
    text-align: right;
}

/*Circle around number in project timeline */
span.left {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;

    -moz-border-radius: 30px;
    border-radius: 30px;

    background-color: #013220;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.info-icons {
    position: relative;
    width: 1000px;
    margin: 100px auto;
    z-index: 1;
    background: #fff;
    padding: 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    font-family: 'DM Sans', sans-serif;
}

.info-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 50px;
}

.info-grid-item {
    text-align: center;
}

.info-grid-item img {
    padding: 10px;
    height: 150px;
}

/*style rules for about page*/

h3 {
    text-align: center;
    font-family: 'DM Sans', sans-serif;
}

.background {
    position: relative;
    width: 1000px;
    margin: 100px auto;
    z-index: 1;
    background: white;
    padding: 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    text-align: center;
    font-family: 'DM Sans', sans-serif;
}

.ginfo {
    position: relative;
    width: 1000px;
    margin: 100px auto;
    z-index: 1;
    background: #fff;
    padding: 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    text-align: center;
    margin-bottom: 0%;
    font-family: 'DM Sans', sans-serif;
}

.links {
    display: block;
    text-align: center;
    text-decoration: none;
    text-decoration-color: #013220;

}

#team-members a{
    color: #000;
    font-family: 'DM Sans', sans-serif;
}

#team-members p{
    font-family: 'DM Sans', sans-serif;
    color: #000;
}

#team-members {
    position: relative;
    width: 1000px;
    margin: 100px auto;
    z-index: 1;
    background: #fff;
    padding: 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);

}

#team-members {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
}

#team-members > div {
    text-align: left;
}

#about-paragraph {
    color: #000;
    font-family: 'DM Sans', sans-serif;
}


/*Graphics for about page*/

.apgraphics2 {
    position: absolute;
    height: 700px;
    width: auto;
    opacity: 0.35;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: -200px;
    margin-bottom: 30px;
    margin-left: -500px;
}

.apgraphics {
    position: absolute;
    height: 700px;
    width: auto;
    opacity: 0.35;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: -150px;
    margin-bottom: 30px;
    margin-left: -130px;
}

.packages {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
}


.packages > div {
    text-align: center;
    align-content: center;
}

/*style rule for contact page*/
.contact-page {
    text-align: center;
    margin-bottom: 0%;
    font-family: 'DM Sans', sans-serif;
}

.contact.page {
    text-align: center;
    font-family: 'DM Sans', sans-serif;
}

#payment-container {
    position: relative;
    width: 1000px;
    margin: 100px auto;
    z-index: 1;
    background: #fff;
    padding: 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    text-align: center;
    font-family: 'DM Sans', sans-serif;
}

#payment-info {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

#payment-info > div {
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    position: relative;
    margin-bottom: -1500px;
    padding-bottom: -1500px;
}

#text {
    text-align: left;
    font-family: 'DM Sans', sans-serif;
}

.info-grid-c {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    font-family: 'DM Sans', sans-serif;
}

.info-grid-c-item {
    text-align: center;
    font-family: 'DM Sans', sans-serif;
}

.info-grid-c-item img {
    padding: 10px;
    height: 150px;
}


#Travel-agencies {
    position: relative;
    width: 1000px;
    margin: 100px auto;
    z-index: 1;
    background: #fff;
    padding: 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
}

#contact-heading {
    position: relative;
    width: 1000px;
    margin: 100px auto;
    z-index: 1;
    background: #fff;
    padding: 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
}

#form {
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    width: 1000px;
    margin: 100px auto;
    z-index: 1;
    background: #fff;
    padding: 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    align-content: center;
    font-family: 'DM Sans', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
}

.grid > div {
    text-align: center;
    font-family: 'DM Sans', sans-serif;
}


/*Style rules for activity images*/

.img-container {
    position: relative;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: #fff;
    margin: auto;
}

/* .bg-img {
    position: absolute;
    height: 700px;
    width: auto;
    opacity: 0.35;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
} */

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    text-shadow: 2px 2px 4px black;
}

/* Style rules for activity bg-shapes */

.bg-img2 {
    position: absolute;
    height: 700px;
    width: auto;
    opacity: 0.35;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: -150px;
    margin-bottom: 30px;
    margin-left: -130px;
}


/* Style rules for activity page buttons */
.btn-container {
    height: 200px;
    position: relative;
    border: none;
}

.btn-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.travel-btn {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.travel-btn-color {
    background-color: rgb(180, 150, 92);
}

/* Style rules for dining info */
.dining-grid {
    display: grid;
    row-gap: 10px;
    font-family: 'DM Sans', sans-serif;
}

.dining-grid h2 {
    text-align: center;
    font-size: 35px;
}

.dining-grid h3 {
    text-align: center;
    font-size: 30px;
}

.dining-grid-item {
    position: relative;
    width: 800px;
    margin: 7px auto;
    z-index: 1;
    background: #fff;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    text-align: center;
}

.dining-grid-item h4 {
    text-align: center;
    font-size: 25px;
}

.dining-grid-item p {
    text-align: center;
    font-size: 20px;
}

/*Style rules for dining page buttons */
.dining-btn {
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.dining-btn-color {
    background-color: rgb(180, 150, 92);
}

/*Style rules for payment info grid*/

#payment-info {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;

}

#payment-info > div {
    text-align: center;
}

/* Style rules for Events page*/

#EventsAfook,
#SoftballTitle,
#HolidayTitle {
    font-weight: bold;
    text-decoration: underline;
    padding-top: 15px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
}

#AllSoccer {
    box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
}

#SoccerTripTitle {
    font-weight: bold;
    text-decoration: underline;
    padding-top: 15px;
    font-family: 'DM Sans', sans-serif;
}

#SoccerTrip {
    margin-left: 25%;
    margin-right: 25%;
}

#HolidayClassicLogo {
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

#HolidayImages,
#SoccerImages {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto;
    grid-gap: 3px;
    padding-bottom: 20px;
}

#AfookCaption {
    padding-top: 15px;
    text-align: center;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
}

#AfookAud {
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 25px;
}

#AfookAll {
    box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
}

#SoftballInv {
    padding-left: 25%;
    padding-right: 25%;
}

#SoftballInv,
#SoftballCaption {
    padding-top: 20px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
}

#SoftballCaption {
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;

}

#SoftballImageOne,
#SoftballImageTwo {
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

#SoftballImageTwo {
    padding-bottom: 20px;
}

#HolidayClassic {
    text-align: center;
    padding-bottom: 10px;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'DM Sans', sans-serif;
}

#HolidayImages {
    align-content: center;
}

#SoccerTrip {
    text-align: center;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'DM Sans', sans-serif;
}

#SoccerCaption {
    text-align: center;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
}

#SoccerComplex {
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 25px;
}

/*Style rules for FAQ page*/

#Activ {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    padding-bottom: 5%;
    padding-top: 3%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}

#Activ > div {
    text-align: center;
}

#ActivPackageAll {
    box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
}

#ActivityPackage {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 1%;
}

#FAQTitle {
    padding-bottom: 3%;
}

#FAQTitle,
#TitleTownPackage {
    padding-top: 5px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

#AllPay {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
}

#AllPay > div {
    text-align: center;
}

#ActivGall {
    padding-top: 2%;
    font-weight: bold;
    text-decoration: underline;
}

#ActiveGal {
    text-align: center;
}

#ActiveGal {
    padding-top: 2%;
    font-weight: bold;
    text-decoration: underline;
}

#Tera {
    text-align: center;
    padding-bottom: 3%;
    font-weight: bold;
    padding-top: 3%;
}

#Tera a {
    text-decoration: none;
    color: #000;
}

#Payments,
#Check {
    text-align: center;
    padding-top: 3%;
}

#Check {
    padding-bottom: 3%;
}

#Paycheck {
    box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
}

#ParentTravel {
    padding-top: 20px;
}

#ParentTravel,
#Payments,
#Check {
    text-align: center;
}

#ParentTravel {
    padding-top: 3%;
    text-decoration: underline;
    font-weight: bold;
}

#FAQ {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 5px;
    padding-bottom: 3%;
}

#FAQ > div {
    text-align: center;
    padding: 5px;
}

/*Style rules for footer*/
footer {
    background-color: #d3d3d3;
    text-align: center;
    font-size: 0.75em;
    text-decoration: none;
    padding-bottom: 2%;
}

.logo {
    align-content: center;
    padding-top: 2%;
}

.social img {
    float: center;
}

.copyright a {
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    color: #000;
}

.copyright p {
    font-family: 'DM Sans', sans-serif;
    color: #000;
}

/* Media Query for Tablet Viewport */
@media screen {
    #container {
        width: 1920px;
        margin: 0 auto;
    }

    table {
        width: 80%;
    }
}

@media screen and (min-width: 630px), print {
    .tablet-desktop {
        display: block;
    }

    .mobile, .mobile-nav {
        display: none;
    }

    /* Tablet Viewport: Style rule for header */

    /* Tablet Viewport: Style rules for nav */

    /* Tablet Viewport: Style rules for main content */
    
    /* Tablet Viewport: Style rules for footer content */
    
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px),
print {
    /* Desktop Viewport: Style rule for header */

    /* Desktop Viewport: Style rules for nav */

    /* Desktop Viewport: Style rules for main */

    /* Desktop Viewport: Style rules for footer */
}

/* Media Query for Large Desktop Viewports */


/* Media Query for Print */
@media print {
    body {
        background-color: #fff;
        color: #000;
    }
}


/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
    /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
    .tablet-desktop {
        display: block;
    }

    .mobile,
    .mobile-nav {
        display: none;
    }

    /* Tablet Viewport: Style rule for header */

    /* Tablet Viewport: Style rules for nav */

    /* Tablet Viewport: Style rules for main content */
    
    .apgraphics {
        display: none;
        position: absolute;
        height: 700px;
        width: auto;
        opacity: 0.35;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-top: -150px;
        margin-bottom: 30px;
        margin-left: -130px;
    }

     .apgraphics2 {
        display: none;
        position: absolute;
        height: 700px;
        width: auto;
        opacity: 0.35;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-top: -200px;
        margin-bottom: 30px;
        margin-left: -500px;
    }

    .ginfo {
        position: relative;
        width: 1000px;
        margin: 100px auto;
        z-index: 1;
        background: #fff;
        padding: 50px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
        text-align: center;
        margin-bottom: 0%;
        font-family: 'DM Sans', sans-serif;
        font-size: 16px;
    }

    .packages {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 50px;
        text-decoration: bold;

    }

    .packages > div {
        text-align: center;
        align-content: center;
    }

    .contact-page {
        text-align: center;
        margin-bottom: 0%;
        font-family: 'DM Sans', sans-serif;
    }

    .contact.page {
        text-align: center;
        font-family: 'DM Sans', sans-serif;
    }

    .info-grid-c {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 50px;
        font-family: 'DM Sans', sans-serif;
    }

    .info-grid-c-item {
        text-align: center;
        font-family: 'DM Sans', sans-serif;
    }

    .info-grid-c-item img {
        padding: 10px;
        height: 150px;
    }

    .grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 50px;
    }

    .grid > div {
        text-align: center;
        font-family: 'DM Sans', sans-serif;
    }
    
    /* Tablet Viewport: Style rules for footer content */
    footer {
        background-color: #d3d3d3;
        text-align: center;
        font-size: 0.75em;
        text-decoration: none;
        padding-bottom: 2%;
    }

    .logo {
        align-content: center;
        padding-top: 2%;
    }

    .social img {
        float: center;
    }

    .copyright a {
        text-decoration: none;
        color: #000;
    }

    /* Media Query for Large Desktop Viewports */
    @media screen and (min-width: 1921px) {
        #container {
            width: 1920px;
            margin: 0 auto;
        }

        table {
            width: 80%;
        }
    }

    /* Media Query for Print */
    @media print {
        body {
            background-color: #fff;
            color: #000;
        }
    }
}