/*Style rules for header*/
header {
    top: 0;
    background-color: white;
    height: 190px;
}

header img {
    margin: 0 auto;
}
/*Style rules for navigation*/
nav {
    padding: 0;
    margin: 0;
    font-family: DM-sans;
}
/*Navigation container*/
ul {
    list-style: none;
    background: #013220;
}
/*Main navigation content*/
ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
/*Activities  list*/
.dropdown li {
    display: block;
}

.dropdown {
    width: 100%;
    background: #013220;
    position: absolute;
    z-index: 999;
    display: none;
}
/* Hover for nav items*/
ul li a:hover {
    background: #fff;
    color: #000;
}
/*hover for activities and drop down option*/
ul li:hover ul.dropdown {
    display: block;
}
/*dropdown for local dinning*/
.dropdown2 {
    width: 100%;
    background: #013220;
    position: absolute;
    z-index: 999;
    display: none;
}
/*hover for local dinning*/
ul li:hover ul.dropdown2 {
    display: block;
}

/*Style rules for footer*/
footer {
    background-color: #d3d3d3;
    text-align: center;
    font-size: 0.70em;
    clear: left;
}

footer .copyright {
  font-size: 0.75em;
  text-align: center;
  color: #fff;
  padding: 2% 4%;
  float: left;
  width: 75%;  
}

footer .logo {
    float: center;
    height: 8%;
    width: 8%;
    padding 2%;
}

footer p a {
  color: #fff;
  text-decoration: none;
}

.social {
    float: right;
    width: 20%;
    padding: 2%;
}

.social img {
    display: inline-block;
    padding: 5%;
}
